/*!
 * Copyright 2020 Ryan E. Anderson
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*!
 * Get Word With Greatest Letter Frequency v0.1.0 Demo Style
 *
 * by Ryan E. Anderson
 *
 * Copyright (C) 2020 Ryan E. Anderson
 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background-color: transparent;
}

body {
    font: 16px/1.618 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

header,
main,
footer,
article,
section,
dt,
code,
pre,
div {
    display: block;
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(89, 89, 89);
}

a:active {
    color: rgb(89, 89, 89);
}

dd {
    display: block;
    margin-left: 32px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    display: list-item;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.25em;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2em;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.75em;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

.text {
    display: block;
    float: right;
    clear: none;
    width: 100%;
}

p.text.text-paragraph {
    margin: 1em 0;
}

div.author {
    font-style: italic;
}

a.current {
    color: rgb(89, 89, 89);
}

dl.list,
ol.list,
ul.list {
    display: block;
    margin-left: 1em;
}

ol.list-indent,
ul.list-indent {
    padding-left: 32px;
}

.gray {
    background-color: rgb(245, 245, 245);
}

.clear-fix {
    clear: both;
}

pre.formatted-text {
    width: 100%;
    margin: 1em 0;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

pre.formatted-text.formatted-text-no-wrap {
    white-space: pre;
}

pre.formatted-text.formatted-text-wrap {
    white-space: pre-wrap;
}

pre.code {
    overflow: auto;
}

p.fine-print {
    font-family: Verdana, Geneva, sans-serif;
}

p.fine-print > small {
    font-size: 0.75em;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

@media only screen and (max-width: 767px) {
    h1,
    h2,
    div.author,
    p.fine-print {
        text-align: center;
    }

    #wrapper {
        width: 288px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    p.fine-print {
        text-align: center;
    }

    #wrapper {
        width: 736px;
    }
}

@media only screen and (min-width: 1367px) {
    p.fine-print {
        text-align: left;
    }

    #wrapper {
        width: 960px;
    }
}